<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/register" method="post">

        <label for="userName">Username</label>
        <br>
        <input type="text" name="userName" placeholder="Enter Username">
        <br>
       
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" placeholder="Enter your Email" >
        <br>
    
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="Enter your Password" >
        <br>
        <input type="submit" value="Register">
        
    </form>
</body>
</html>